@model ImageVM
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index","ImageLoad",FormMethod.Post, new {enctype="multipart/form-data" }))
{
    <div>
        Isim Giriniz
    </div>
    <div>
        @Html.TextBoxFor(x=>x.TestClass.Name)
    </div>
    <div>
        <input type="file" name="resim" value=""/>
    </div>
    <div>
        <button class="btn btn-primary">Kaydet</button>
    </div>
}